.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #39BFF5, #E32CDA);
}

.content h1 {
    color: white;
    font-size: 4rem;
}
